h1 {
  font-family: Verdana;
  font-weight: normal;
  font-size: 50px
  color: White
  background-color: Black
  text-align:center;
}
body {
  font-family: Verdana, sans-serif;
  text-align: center;
  background-color: black;
  color: white;
}
video {
  font-fit: contain;
}




.cta {
    color: aquamarine;
    font-size: 16px;
